<!--The content below is only a placeholder and can be replaced.-->

<span style = "width: 24%">
	<label id = "lblApplicationId" class="clsLabel" >Application Id</label>
</span>

<span style = "width: 24%">
	<label id = "lblApplicationIdVal" class="clsNonEditableValue">{{applicationId}}</label>
</span>



<span style = "width: 24%">
	<label id = "lblChannel" class="clsLabel">Status</label>
</span>

<span style = "width: 24%">
	<label id = "lblChannelVal" class="clsNonEditableValue">{{status}}</label>
</span>



