.clsLabel{
	vertical-align: middle;
	font-family: verdana, arial, helvetica;
	font-size: 30px;
	font-weight: bold;
	line-height: 20px;
	color:#666666;
	padding: 0px;
	margin: 0px;
}

.clsNonEditableValue{
	font-family: verdana, arial, helvetica;
	font-size: 30px;
	font-weight: normal;
	color:#666666;
	text-transform: uppercase;
}
